/* general styles */

:root {
  --primary-1: #393e46;
  --primary-2: #272829;
  --primary-3: #000000;
  --secondary-1: #fafafa;
  --secondary-2: #eeeeee;
  --secondary-3: #dbdbdb;
  --accent-1: #fbdb8e;
  --accent-2: #ffd369;
  --accent-3: #ffc842;
  --gray-100: #d5d6d7;
  --gray-300: #a7a8a9;
  --gray-400: #6f7376;
  --gray-500: #393b3c;
  --gray-600: #2a2b2c;
  --gray-700: #1b1c1d;
  --error-2: #7a453c;
  --error-3: #ce604c;
  --heading-font: "Ubuntu", sans-serif;
  --common-font: "Lora", serif;
}

body {
  background-color: var(--secondary-2);
  font-family: var(--common-font);
  font-size: 16px;
  color: var(--primary-2);
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  flex: 1 1 auto;
}
._lock {
  overflow: hidden;
}
._container {
  margin: 0 auto;
  padding: 31px 16px;
}
._img {
  position: relative;
  overflow: hidden;
}
._img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.heading {
  font-family: var(--heading-font);
  color: var(--primary-2);
}
.heading_margin > *:not(:last-child) {
  margin-bottom: 12px;
}
.heading__text-0 {
  font-size: 72px;
  font-weight: 400;
  line-height: calc(83 / 72 * 100%);
}
.heading__text {
  font-size: 32px;
  font-weight: 700;
  line-height: calc(37 / 32 * 100%);
}
.heading__text-3 {
  font-size: 24px;
  font-weight: 400;
  line-height: calc(28 / 24 * 100%);
}
.heading__text-4 {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(20 / 18 * 100%);
}
.heading_center {
  text-align: center;
}
.heading__text,
.heading__text-3,
.heading__text-4 {
  position: relative;
  text-transform: uppercase;
  z-index: 10;
}
.paragraph {
}
.paragraph__text {
  position: relative;
  z-index: 10;
  line-height: calc(20 / 16 * 100%);
}
.paragraph__text_center {
  text-align: center;
}
.paragraph__text_small {
  font-size: 14px;
}
.action {
  width: 100%;
}
.action__button {
  display: inline-block;
  background-color: var(--accent-3);
  color: var(--gray-700);
  padding: 15px 36px;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 18px;
  line-height: calc(20 / 18 * 100%);
  border-radius: 13px;
  text-align: center;
}

.action__button_notrounded {
  border-radius: 3px;
}

.action_center {
  display: flex;
  justify-content: center;
}
