/* general styles */

:root {
  --primary: #8ea8f3;
  --secondary: #fbffff;
  --accent: #fcbc4a;
  --text: #222630;
  --heading-font: "Ubuntu", sans-serif;
  --common-font: "Lora", serif;
}

body {
  background-color: var(--secondary);
  font-family: var(--common-font);
  font-size: 16px;
  color: var(--text);
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  flex: 1 1 auto;
}
._container {
  margin: 0 auto;
  padding: 50px 16px;
}
._img {
  position: relative;
  overflow: hidden;
}
._img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
._highlight {
  color: var(--secondary);
}
.heading {
  font-family: var(--heading-font);
}
.heading_margin > *:not(:last-child) {
  margin-bottom: 12px;
}
.heading__text-0 {
  font-size: 72px;
  font-weight: 400;
  line-height: calc(83 / 72 * 100%);
}
.heading__text {
  font-size: 32px;
  font-weight: 700;
  line-height: calc(37 / 32 * 100%);
}
.heading__text-3 {
  font-size: 24px;
  font-weight: 400;
  line-height: calc(28 / 24 * 100%);
}
.heading_center {
  text-align: center;
}
.heading__subtext {
  font-size: 18px;
  line-height: calc(21 / 18 * 100%);
}
.heading__text,
.heading__text-3,
.heading__subtext {
  position: relative;
  text-transform: uppercase;
  z-index: 10;
}
.paragraph {
}
.paragraph__text {
  position: relative;
  z-index: 10;
}
.paragraph__text_center {
  text-align: center;
}
.paragraph__text_small {
  font-size: 14px;
}
.action {
  width: 100%;
}
.action__button {
  display: inline-block;
  background-color: var(--accent);
  color: var(--text);
  padding: 15px 36px;
  text-transform: uppercase;
  font-family: var(--heading-font);
  font-weight: 500;
  border-radius: 13px;
}

.action_center {
  display: flex;
  justify-content: center;
}
