.expect {
  background-color: var(--primary-3);
  color: var(--gray-700);
}
.expect__header {
  margin-bottom: 30px;
  color: var(--secondary-2);
}
.expect__carts {
  position: relative;
}
.expect__carts > *:not(:last-child) {
  margin-bottom: 23px;
}
.expect__item {
  background-color: var(--accent-2);
}
.expect__img {
  padding: 0 0 calc(200 / 318 * 100%) 0;
}
.expect__content {
  max-width: 285px;
  margin: 0 auto;
  padding: 10px 0 20px 0;
}
.expect__content > *:not(:last-child) {
  margin-bottom: 7px;
}

.expect__content .heading {
  color: var(--gray-700);
}
