.footer {
  background-color: var(--primary);
  position: relative;
}
.footer__scroll {
  position: absolute;
  padding: 0 18.67% 18.67% 0;
  top: calc((116 + 35) / 375 * 100%);
  left: calc((224) / 302 * 100%);
}
.footer__container {
  text-align: center;
}
.footer__container > *:not(:last-child) {
  margin-bottom: 12px;
}
.footer__header {
  margin-bottom: 6px !important;
  color: var(--accent);
}
.footer__paragraph {
  max-width: 195px;
  margin: 0 auto;
}
.footer__paragraph_legacy {
  max-width: 100%;
}
.footer__logo {
  max-width: 105px;
  margin: 0 auto;
}
.footer__logo img {
  width: 100%;
}
