.pain {
  background-color: var(--primary-3);
  color: var(--secondary-2);
}

.pain__container {
}
.pain__container > *:not(:first-child) {
  margin-top: 23px;
}
.pain__container .heading {
  color: var(--secondary-2);
}
.pain__heading {
}
.pain__content {
  background-color: var(--primary-2);
}
.pain__content-inner {
  padding: 29px;
}
.pain__content-inner > *:not(:last-child) {
  margin-bottom: 12px;
}

.pain__list {
}
.pain__item {
  display: flex;
  margin-left: 16px;
}
.pain__item:not(:last-child) {
  margin-bottom: 9px;
}
.pain__item-text {
  display: inline-block;
}

.pain__number {
  display: inline-block;
  margin-right: 7px;
  width: 19px;
}
